.detail {
    border:1px solid;
    border-color: #F8F8FF;
    border-radius: 5%;
    height: 400px;
    width: 300px;
    margin: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.detail-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #F8F8FF;
    font-family: Sans-Serif;
    margin: 5px;
    height: 10px;
}